{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message {{ label == 'danger' ? 'danger' : 'success' }}-message" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

